@model IEnumerable<object>
@{
    ViewData["Title"] = "AnaSayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Context.Session.GetString("kullaniciId") == null)
    {
        Context.Response.Redirect("https://localhost:44348/Home/Index");
    }

    List<DosyaSistemiDAL.Businesslayer.Entities.Dosya> listDosya = Model.ToList()[0] as List<DosyaSistemiDAL.Businesslayer.Entities.Dosya>;
    List<DosyaSistemiDAL.Businesslayer.Entities.Kullanici> listKullanici = Model.ToList()[1] as List<DosyaSistemiDAL.Businesslayer.Entities.Kullanici>;
    List<DosyaSistemiDAL.Businesslayer.Entities.Paylasilanlar> listpaylasilan = Model.ToList()[2] as List<DosyaSistemiDAL.Businesslayer.Entities.Paylasilanlar>;
}

<style>

    input[id="linkcheckbox"] {
        position: absolute;
        opacity: 0;
    }

        input[id="linkcheckbox"].ios-switch + div {
            vertical-align: middle;
            width: 40px;
            height: 20px;
            border: 1px solid rgba(0,0,0,.4);
            border-radius: 999px;
            background-color: rgba(0, 0, 0, 0.1);
            -webkit-transition-duration: .4s;
            -webkit-transition-property: background-color, box-shadow;
            box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
            margin: 15px 1.2em 15px 2.5em;
        }


        /* Tiny Track */
        input[id="linkcheckbox"].tinyswitch.ios-switch + div {
            width: 34px;
            height: 18px;
        }


        /* Green Track */
        input[id="linkcheckbox"].green.ios-switch:checked + div {
            background-color: #00e359;
            border: 1px solid rgba(0, 162, 63,1);
            box-shadow: inset 0 0 0 10px rgba(0,227,89,1);
        }

        /* Normal Knob */
        input[id="linkcheckbox"].ios-switch + div > div {
            float: left;
            width: 18px;
            height: 18px;
            border-radius: inherit;
            background: #ffffff;
            -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
            -webkit-transition-duration: 0.4s;
            -webkit-transition-property: transform, background-color, box-shadow;
            -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
            -moz-transition-duration: 0.4s;
            -moz-transition-property: transform, background-color;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
            pointer-events: none;
            margin-top: 1px;
            margin-left: 1px;
        }


        /* Tiny Knob */
        input[id="linkcheckbox"].tinyswitch.ios-switch + div > div {
            width: 16px;
            height: 16px;
            margin-top: 1px;
        }

        /* Checked Tiny Knob (Blue Style) */
        input[id="linkcheckbox"].tinyswitch.ios-switch:checked + div > div {
            -webkit-transform: translate3d(16px, 0, 0);
            -moz-transform: translate3d(16px, 0, 0);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
        }
        /* Green Knob */
        input[id="linkcheckbox"].green.ios-switch:checked + div > div {
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63,1);
        }




    .new-share-yetki {
        display: none;
    }

    .progress {
        margin-top: 25px;
    }

    .done anim {
        margin-top: 3px;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/allfolder.css" />
<!-- KLASOR AIT HARİCİ CSSLER -->

<button type="button" class="btn yeni-klasor-yarat" style="background-color:#04ADFF;color:white;" role="button"> Yeni Klasor</button>
<button type="button" class="btn btn-primary coklu-indirme" style="background-color:#04ADFF;color:white;" onclick="klasordosyaindir()"> Seçilenleri indir </button>

<hr />

<div style="display:none;">
    <span id="select-result">none</span>
</div>
<!-- KLASOR GOSTERIMI KISMI-->
<div id="desktop">
    <ul id="selectable">
        @foreach (var item in listDosya.Where(x => x.DosyaMi == null))
        {
            if (Convert.ToInt32(Context.Session.GetString("kullaniciId")) == item.KullaniciId)
            {
                <li class="desktop-icon" id="@item.DosyaId">
                    <div class="card111" id="@item.DosyaId">
                        <div class="card112">
                            <div class="folder folderin"></div>
                            <div class="folder-tab"></div>
                            <span class="folder-name roww_@item.DosyaId">@item.DosyaAdi</span>
                            <span class="folder-name">@item.OlusturulmaZamani.ToString().Substring(0, 9)</span>
                        </div>
                    </div>
                </li>
            }
        }

        @foreach (var item in listDosya.Where(x => x.DosyaMi == true))
        {
            if (Convert.ToInt32(Context.Session.GetString("kullaniciId")) == item.KullaniciId)
            {
                <li class="file111list" id="@item.DosyaId">

                    <div class="fileContainer111" id="@item.DosyaId">
                        <a href="#">

                            @if (item.DosyaTipi == ".jpg" || item.DosyaTipi == ".png" || item.DosyaTipi == ".gif" || item.DosyaTipi == ".jpeg" || item.DosyaTipi == ".bmp" || item.DosyaTipi == ".tiff")
                            {
                                <span class="file111">
                                    <i class="fa fa-picture-o"></i>
                                </span>

                                if (item.DosyaAdi.Length > 8)
                                {
                                    <h6 style="margin-top:7px;" class="fileName111 roll_@item.DosyaId" data-toggle="tooltip" data-placement="bottom" title="@item.DosyaAdi -- @item.DosyaBoyutu byte">@item.DosyaAdi.ToString().Substring(0, 5)...</h6>
                                    <h6 style="margin-top:7px;" class="fileName111">@item.OlusturulmaZamani.ToString().Substring(0, 9)</h6>

                                }
                                else
                                {
                                    <h6 style="margin-top:7px;" class="fileName111 roll_@item.DosyaId" data-toggle="tooltip" data-placement="bottom" title="@item.DosyaBoyutu byte">@item.DosyaAdi</h6>
                                    <h6 style="margin-top:7px;" class="fileName111">@item.OlusturulmaZamani.ToString().Substring(0, 9)</h6>
                                }
                            }
                            else if (item.DosyaTipi == ".txt" || item.DosyaTipi == ".cbz" || item.DosyaTipi == ".cbr")
                            {
                                <span class="file111">
                                    <i class="fa fa-file-text"></i>
                                </span>

                                if (item.DosyaAdi.Length > 8)
                                {
                                    <h6 style="margin-top:7px;" class="fileName111 roll_@item.DosyaId" data-toggle="tooltip" data-placement="bottom" title="@item.DosyaAdi -- @item.DosyaBoyutu byte">@item.DosyaAdi.ToString().Substring(0, 5)...</h6>
                                    <h6 style="margin-top:7px;" class="fileName111">@item.OlusturulmaZamani.ToString().Substring(0, 9)</h6>

                                }
                                else
                                {
                                    <h6 style="margin-top:7px;" class="fileName111 roll_@item.DosyaId" data-toggle="tooltip" data-placement="bottom" title="@item.DosyaBoyutu byte">@item.DosyaAdi</h6>
                                    <h6 style="margin-top:7px;" class="fileName111">@item.OlusturulmaZamani.ToString().Substring(0, 9)</h6>
                                }
                            }
                            else if (item.DosyaTipi == ".doc" || item.DosyaTipi == ".docx")
                            {
                                <span class="file111">
                                    <i class="fa fa-file-word"></i>
                                </span>

                                if (item.DosyaAdi.Length > 8)
                                {
                                    <h6 style="margin-top:7px;" class="fileName111 roll_@item.DosyaId" data-toggle="tooltip" data-placement="bottom" title="@item.DosyaAdi -- @item.DosyaBoyutu byte">@item.DosyaAdi.ToString().Substring(0, 5)...</h6>
                                    <h6 style="margin-top:7px;" class="fileName111">@item.OlusturulmaZamani.ToString().Substring(0, 9)</h6>

                                }
                                else
                                {
                                    <h6 style="margin-top:7px;" class="fileName111 roll_@item.DosyaId" data-toggle="tooltip" data-placement="bottom" title="@item.DosyaBoyutu byte">@item.DosyaAdi</h6>
                                    <h6 style="margin-top:7px;" class="fileName111">@item.OlusturulmaZamani.ToString().Substring(0, 9)</h6>
                                }
                            }
                            else if (item.DosyaTipi == ".xlsx" || item.DosyaTipi == ".xlsm" || item.DosyaTipi == ".xls" || item.DosyaTipi == ".xml")
                            {
                                <span class="file111">
                                    <i class="fa fa-file-excel"></i>
                                </span>

                                if (item.DosyaAdi.Length > 8)
                                {
                                    <h6 style="margin-top:7px;" class="fileName111 roll_@item.DosyaId" data-toggle="tooltip" data-placement="bottom" title="@item.DosyaAdi -- @item.DosyaBoyutu byte">@item.DosyaAdi.ToString().Substring(0, 5)...</h6>
                                    <h6 style="margin-top:7px;" class="fileName111">@item.OlusturulmaZamani.ToString().Substring(0, 9)</h6>

                                }
                                else
                                {
                                    <h6 style="margin-top:7px;" class="fileName111 roll_@item.DosyaId" data-toggle="tooltip" data-placement="bottom" title="@item.DosyaBoyutu byte">@item.DosyaAdi</h6>
                                    <h6 style="margin-top:7px;" class="fileName111">@item.OlusturulmaZamani.ToString().Substring(0, 9)</h6>
                                }
                            }
                            else if (item.DosyaTipi == ".pdf")
                            {
                                <span class="file111">
                                    <i class="fa fa-file-pdf"></i>
                                </span>

                                if (item.DosyaAdi.Length > 8)
                                {
                                    <h6 style="margin-top:7px;" class="fileName111 roll_@item.DosyaId" data-toggle="tooltip" data-placement="bottom" title="@item.DosyaAdi -- @item.DosyaBoyutu byte">@item.DosyaAdi.ToString().Substring(0, 5)...</h6>
                                    <h6 style="margin-top:7px;" class="fileName111">@item.OlusturulmaZamani.ToString().Substring(0, 9)</h6>

                                }
                                else
                                {
                                    <h6 style="margin-top:7px;" class="fileName111 roll_@item.DosyaId" data-toggle="tooltip" data-placement="bottom" title="@item.DosyaBoyutu byte">@item.DosyaAdi</h6>
                                    <h6 style="margin-top:7px;" class="fileName111">@item.OlusturulmaZamani.ToString().Substring(0, 9)</h6>
                                }
                            }
                            else if (item.DosyaTipi == ".ogg" || item.DosyaTipi == ".oga" || item.DosyaTipi == ".wma" || item.DosyaTipi == ".wav" || item.DosyaTipi == ".mp3" || item.DosyaTipi == ".aa" || item.DosyaTipi == ".aac")
                            {
                                <span class="file111">
                                    <i class="fa fa-music"></i>
                                </span>

                                if (item.DosyaAdi.Length > 8)
                                {
                                    <h6 style="margin-top:7px;" class="fileName111 roll_@item.DosyaId" data-toggle="tooltip" data-placement="bottom" title="@item.DosyaAdi -- @item.DosyaBoyutu byte">@item.DosyaAdi.ToString().Substring(0, 5)...</h6>
                                    <h6 style="margin-top:7px;" class="fileName111">@item.OlusturulmaZamani.ToString().Substring(0, 9)</h6>

                                }
                                else
                                {
                                    <h6 style="margin-top:7px;" class="fileName111 roll_@item.DosyaId" data-toggle="tooltip" data-placement="bottom" title="@item.DosyaBoyutu byte">@item.DosyaAdi</h6>
                                    <h6 style="margin-top:7px;" class="fileName111">@item.OlusturulmaZamani.ToString().Substring(0, 9)</h6>
                                }
                            }
                            else if (item.DosyaTipi == ".mp4" || item.DosyaTipi == ".flv" || item.DosyaTipi == ".avi" || item.DosyaTipi == ".mkv")
                            {
                                <span class="file111">
                                    <i class="fa fa-video-camera"></i>
                                </span>

                                if (item.DosyaAdi.Length > 8)
                                {
                                    <h6 style="margin-top:7px;" class="fileName111 roll_@item.DosyaId" data-toggle="tooltip" data-placement="bottom" title="@item.DosyaAdi -- @item.DosyaBoyutu byte">@item.DosyaAdi.ToString().Substring(0, 5)...</h6>
                                    <h6 style="margin-top:7px;" class="fileName111">@item.OlusturulmaZamani.ToString().Substring(0, 9)</h6>

                                }
                                else
                                {
                                    <h6 style="margin-top:7px;" class="fileName111 roll_@item.DosyaId" data-toggle="tooltip" data-placement="bottom" title="@item.DosyaBoyutu byte">@item.DosyaAdi</h6>
                                    <h6 style="margin-top:7px;" class="fileName111">@item.OlusturulmaZamani.ToString().Substring(0, 9)</h6>
                                }
                            }
                            else
                            {
                                <span class="file111">
                                    <i class="fa fa-cogs"></i>
                                </span>

                                if (item.DosyaAdi.Length > 8)
                                {
                                    <h6 style="margin-top:7px;" class="fileName111 roll_@item.DosyaId" data-toggle="tooltip" data-placement="bottom" title="@item.DosyaAdi -- @item.DosyaBoyutu byte">@item.DosyaAdi.ToString().Substring(0, 5)...</h6>
                                    <h6 style="margin-top:7px;" class="fileName111">@item.OlusturulmaZamani.ToString().Substring(0, 9)</h6>

                                }
                                else
                                {
                                    <h6 style="margin-top:7px;" class="fileName111 roll_@item.DosyaId" data-toggle="tooltip" data-placement="bottom" title="@item.DosyaBoyutu byte">@item.DosyaAdi</h6>
                                    <h6 style="margin-top:7px;" class="fileName111">@item.OlusturulmaZamani.ToString().Substring(0, 9)</h6>
                                }
                            }



                        </a>
                    </div>
                </li>
            }
        }

        <li class="desktop-icon111" style="display:none;">
            <div class="card111" id="id">
                <div class="card112">
                    <div class="folder"></div>
                    <div class="folder-tab"></div>
                    <input class="folder-name add-folder-name" type="text" name="KlasorId" id="KlasorId" autofocus placeholder="Klasör adı">
                    <button class="folder-name btn add-folder-name-button" type="button" onclick="yeniKlasorYaratma()"><i class="far fa-check-circle"></i></button>
                    <span class="folder-name folder-name777"></span>
                </div>
            </div>
        </li>

    </ul>
</div>

<!-- LISTE GOSTERIMI KISMI -->
<section class="panel" style="display:none;" id="sectionGoster">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
            <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
        </div>
        <h2 class="panel-title">Klasörleriniz</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
                <tr>
                    <th>Adı</th>
                    <th>Dizin</th>
                    <th>Oluşturulma Zamanı</th>
                    <th>Boyutu</th>
                    <th>Yeniden Adlandır</th>
                    <th>Detaylar</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in listDosya.Where(x => x.DosyaMi == null))
                {
                    if (Convert.ToInt32(Context.Session.GetString("kullaniciId")) == item.KullaniciId)
                    {
                        <tr id="row_@item.DosyaId">
                            <td>@item.DosyaAdi</td>
                            <td>@item.DosyaYolu</td>
                            <td>@item.OlusturulmaZamani</td>
                            <td>@item.DosyaBoyutu</td>
                            <td>
                                <a class="btn btn-dark" href="/Klasor/Edit/@item.DosyaId"> Adlandır</a>
                            </td>
                            <td>
                                <a class="btn btn-info" href="/Klasor/Details/@item.DosyaId"> Detaylar </a>
                            </td>
                            <td>
                                <a class="btn btn-danger" onclick="ConfirmDelete(@item.DosyaId)"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>


<!--
       BOOTSTRAP KLASOR SIL MODAL POPUP
**********************************************************************************
-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <h4>Silmek istediğinize emin misiniz ?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn  btn-success" onclick="Sil()"> Onayla </button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hiddenKlasorId" />
<input type="hidden" id="hiddenDosyaId" />

<!--
    DOSYA SIL MODAL
****************************************************
-->
<div class="modal fade" id="myDosyaModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h4>Silmek istediğinize emin misiniz ?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-success" onclick="dosyaSil()">Onayla</button>
            </div>
        </div>

    </div>
</div>
<!--
LNK PAYLASMAK ICIN MODAL
-->
<div class="modal fade" id="linkpaylas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Paylaşım Linki</h5>
            </div>
            <div style="padding-top:30px;">
                <label style="margin-left:15px;">Paylaşım Linki</label>
                <input style="width:48%;margin-left:50px;border-radius:10px;padding:5px;" type="text" value="" id="sharelinktext" readonly />
                <button type="button" style="margin-left:8px;border-radius:5px;font-weight:700;text-transform:uppercase;" onclick="myCopyFunction()"> Metni Kopyala</button>
                <small style="margin-left:15px;color:red;">Dikkat! Bu linki paylaştığınız kişiler dosyanızı görüntüleyebilir veya indirebilir.</small>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.reload();">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!--
POPUP  KLASOR YENİDEN ADLANDIR
-->
<div class="modal fade" id="isimDegistirModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-8">
                    <h4 class="modal-title" id="exampleModalLabel">Yeniden Adlandır</h4>
                </div>
                <div class="col-md-4">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body">
                <input type="text" name="KlasorId" id="KlasorId" class="form-control yeniden-adlandir" autofocus placeholder="Klasör adı giriniz.">
                <h6 style="display:none;" class="modal-title alert alert-danger" role="alert" id="exampleModalLabel2"></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-success" onclick="isimDegistir()">Onayla</button>
            </div>
        </div>
    </div>
</div>
<!--
POPUP DOSYA YENİDEN ADLANDIR
-->
<div class="modal fade" id="dosyaIsimDegistirModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-8">
                    <h4 class="modal-title" id="exampleModalLabel">Yeniden Adlandır</h4>
                </div>
                <div class="col-md-4">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>
            <div class="modal-body">
                <input type="text" name="DosyaId" id="DosyaId" class="form-control dosya-yeniden-adlandir" autofocus placeholder="Dosya adı giriniz.">
                <h6 style="display:none;" class="modal-title alert alert-danger" role="alert" id="exampleModalLabel1"></h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-success" onclick="dosyaIsimDegistir()">Onayla</button>
            </div>
        </div>
    </div>
</div>
<!--
SISTEME YUKLEME YAPMA
-->
<div class="upload upload-yok" id="yuklemeyapilandiv">
    <div class="upload-files">
        <p></p>
        <form method="post" enctype="multipart/form-data" style="width:1200px;" asp-action="DosyaYukle" asp-controller="Dosya">
            <div class="body" id="drop">
                <i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i>
                <p class="pointer-none">Dosyaları <b>sürükle bırak</b><br /> veya <br /><a href="" id="triggerFile">Dosyalarında </a> ara</p>
                <input type="hidden" id="klasorId" name="klasorId" value="@ViewBag.MainId" />
                <input type="file" name="Files" id="Files" multiple="multiple" />
            </div>
            <footer>
                <div class="divider">
                    <span><AR>DOSYALARINIZ</AR></span>
                </div>
                <div class="list-files">
                </div>
                <button type="submit" class="importar">YÜKLE</button>
            </footer>
        </form>
    </div>
</div>
<!--
Dosya Paylaşım Modal
-->
<div class="modal fade" id="dosyapaylasim" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding-left:30px;">
                <h5 class="modal-title" style="margin-top:5px;" id="exampleModalLabel">Dosya Paylaşımı</h5>
            </div>
            <div class="modal-body">
                <form action="/action_page.php">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Kişi Seçiniz</label>
                        <div class="col-md-6">
                            <select multiple data-plugin-selectTwo class="form-control populate" id="kisilerinbulunduguselect">
                                <optgroup label="Kişiler">
                                    @foreach (var item in listKullanici)
                                    {
                                        <option class="fileshareoption @item.KullaniciId" value="@item.KullaniciId">@item.KullaniciAdi @item.KullaniciSoyadi</option>
                                    }
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="col-md-12">
                    <section class="panel">
                        <div style="padding-top:20px;">
                            <div class="table-responsive">
                                <table class="table table-hover mb-none tabletablo"></table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" id="btnUygulaAjax">Uygula</button>
                <button type="button" class="btn btn-primary" id="btnKapatSifirla">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!--
Video Player Modal
-->
<div class="modal fade" id="videoplayer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="instructions">
                    <video id="my_video_1" class="video-js vjs-default-skin" style="width:565px;height:267px;"
                           controls preload="none"
                           data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
                        <source id="videoizle" src="" type='video/mp4' />
                    </video>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!--
IMAGE VİEVER MODAL
-->
<div class="modal fade" id="imageviewer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img id="resimgoruntuleyicisi" src="" width="570" height="500">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!--
PDF VİEWER MODAL
-->
<div class="modal fade" id="pdfviewer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px;height:700px;">
            <div class="modal-body">
                <object id="pdfgoster" data="" type="application/pdf" width="670" height="600">
                    <a id="pdflink" href=""></a>
                </object>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<!--
TEXT VİEWER MODAL
-->
<div class="modal fade" id="textviewer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:700px;height:700px;">
            <div class="modal-body">
                <p>
                    <iframe id="textviewerframe" src="" frameborder="0" height="650" width="660"></iframe>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-kapat" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.YuklemeHata1 != null && ViewBag.YuklemeHata1 != "")
{
    <script>
        $(document).ready(function () {
            $.notify('@ViewBag.YuklemeHata1');
        })
    </script>

}
@if (ViewBag.Basarili1 != null && ViewBag.Basarili1 != "")
{
    <script>
        $(document).ready(function () {
       $.notify("@ViewBag.Basarili1", "success");
        })
    </script>
}
@if (TempData["secimyap"] != null)
{
    <script>
        $(document).ready(function () {
            $.notify("@TempData["secimyap"]", "warn");
        })
    </script>
}
@if (TempData["isexistcutfile"] != null)
{
    <script>
        $(document).ready(function () {
            $.notify("@TempData["isexistcutfile"]", "warn");
        })
    </script>
}
@if (TempData["yetkisecimiyapilmadi"] != null)
{
    <script>
        $(document).ready(function () {
            $.notify("@TempData["yetkisecimiyapilmadi"]", "warn");
        })
    </script>
}
@if (TempData["zamanhatasilink"] != null)
{
    <script>
        $(document).ready(function () {
            $.notify("@TempData["zamanhatasilink"]", "warn");
        })
    </script>
}
@if (TempData["Yetkidegisikligitamam"] != null)
{
    <script>
        $(document).ready(function () {
            $.notify("@TempData["Yetkidegisikligitamam"]", "success");
        })
    </script>
}
@if (TempData["dosyaicpaylasimbasarili"] != null)
{
    <script>
        $(document).ready(function () {
            $.notify("@TempData["dosyaicpaylasimbasarili"]", "success");
        })
    </script>
}
@**************************@
@**************************@

@if (TempData["linkpaylasmabasarili"] != null)
{
    <script>
        $(document).ready(function () {
            $.notify("@TempData["linkpaylasmabasarili"]", "success");
        })
    </script>
}
@**************************@
@**************************@

@if (TempData["yapistirmaHatasi"] != null)
{
    <script>
        $(document).ready(function () {
            $.notify("@TempData["yapistirmaHatasi"]", "warn");
        })
    </script>
}
@if (TempData["yetkidegisikligihata"] != null)
{
    <script>
        $(document).ready(function () {
            $.notify("@TempData["yetkidegisikligihata"]", "warn");
        })
    </script>
}
@if (TempData["sharewithlinkhatasie0"] != null)
{
    <script>
        $(document).ready(function () {
            $.notify("@TempData["sharewithlinkhatasie0"]", "warn");
        })
    </script>
}
@if (TempData["kullanicisharehata"] != null)
{
    <script>
        $(document).ready(function () {
            $.notify("@TempData["kullanicisharehata"]", "warn");
        })
    </script>
}
@if (TempData["checkedhata"] != null)
{
    <script>
        $(document).ready(function () {
            $.notify("@TempData["checkedhata"]", "warn");
        })
    </script>
}
@if (TempData["dosyasharehatasi"] != null)
{
    <script>
        $(document).ready(function () {
            $.notify("@TempData["dosyasharehatasi"]", "warn");
        })
    </script>
}

@* ************************  Yeni eklenen scriptler  **************************** *@

<script>

        $(document).ready(function () {
            $("#sectionGosterButonu").click(function () {
                $("#sectionGoster").toggle();
                $("#desktop").toggle();
            });
        });
        $(document).ready(function () {
            //$.fn.dataTable.moment('YYYY-MM-DDThh:mm:ss');
            $('#datatable-default').dataTable({
                responsive: true,
                "order": [[2, "desc"]]
            });
        });
        $(document).ready(function () {
            $(".folderin").dblclick(function () {
                var id = $(this).closest('.card111').attr('id');
                location.href = "/Klasor/KlasorAc/" + id;
            });
        });
        $(".folder").hover(function () {
            $(this).toggleClass("folder-hover");
        });

    function myCopyFunction() {
        var copyText = document.getElementById("sharelinktext");
        copyText.select();
        document.execCommand("copy");
    }
        /*************SHARE ORTAK ISLEMLER**********************************/
        /***********************************************/
    var dict = [];
    console.log();
          var ConfirmFileShare111 = function (id) {
          $("#hiddenDosyaId").val(id);
          var id = $("#hiddenDosyaId").val();
          $(".tabletablo").html("");
          $.ajax({
              type:"POST",
              url: "/Klasor/Info",
              data: { id: id },
              success: function (data) {
                  if (data.result == true) {
                      $("#dosyapaylasim").modal('show');
                      var dd = data.kullaniciIdArray;
                      jQuery.each(dd, function (i, val) {
                          var jq = $("#kisilerinbulunduguselect ." + val);
                          jq.remove();
                          //jq.prop("disabled", true);
                      })
                      $("#btnKapatSifirla").click(function () {
                          $("#dosyapaylasim").modal('hide');
                          dict = [];
                          $('#kisilerinbulunduguselect').val(null).trigger('change');
                          jQuery.each(dd, function (i, val) {
                              var jq = $("#kisilerinbulunduguselect ." + val);
                              jq.prop("disabled", false);
                          })
                          location.reload(true);// if false reload from cache if true reload from server if cache null it will reload from server.
                      })
                      $(".tabletablo").append(data.userlistesi);
                      var a = "";
                      var arr = [];
                      var trid = "";
                     // dict = [];
                      $("input[name='yetki']").click(function () {
                          trid = $(this).closest('tr').attr('id');
                          a = "'.form-check-input" + trid + "'";
                          var thiselement = $(".form-check-input" + trid);
                          arr = [];
                          var i = 0;
                          thiselement.each(function () {
                              if (this.checked) {
                                  arr[i++] = $(this).val();
                              }
                          })
                          if (dict.some(e => e.Id == trid)) {
                              dict = dict.filter(function (obj) {
                                  return obj.Id !== trid;
                              });
                          }
                          dict.push({ Id: trid, Value: arr });
                      });
                      $("#btnUygulaAjax").click(function () {
                          console.log(dict)
                          var pp = id;
                          console.log(id);
                          $.ajax({
                              type: "POST",
                              url: "@Url.Action("YetkiDegisikligiAjax", "Klasor")",
                              data: { "myDictionary": dict,"KlasorDosyaId":pp },
                              success: function (result) {
                                  if (result == true) {
                                      foo();
                                      $("#dosyapaylasim").modal('hide');
                                      location.reload();
                                      $('#kisilerinbulunduguselect').val(null).trigger('change');
                                      dict = [];
                                  }
                                  else {
                                      yetkierror();
                                      $("#dosyapaylasim").modal('hide');
                                      location.reload();
                                      $('#kisilerinbulunduguselect').val(null).trigger('change');
                                      dict = [];
                                  }
                              }
                          })
                      });
                  }
                  else {
                      fooerror();
                      dict = [];
                  }
              }
              })
          }

        $("#kisilerinbulunduguselect").on("select2:select", function (e) {
        var data = e.params.data.text; 
        var userId = e.params.data.id; 
        $(".tabletablo").append("<tr id='" + userId + "'><td>" + data + "</td><td>" + '@DateTime.Now.ToString().Substring(0,9)' + "</td><td><div class='form-check'><input type='checkbox' class='form-check-input" + userId + "' name='authoritydelete' id='yeniCheck7' value='1'><label class='form-check-label' style='margin-right:5px;'for='yeniCheck7'>Önizleme</label><input type='checkbox' class='form-check-input" + userId + "' name='authoritydelete' id='yeniCheck7' value='2'><label class='form-check-label' for='yeniCheck7'>Indirme</label></div><td></tr>");
            var arr = [];
            $("input[name='authoritydelete']").click(function () {
                trid = $(this).closest('tr').attr('id');
                a = "'.form-check-input" + trid + "'";
                var thiselement = $(".form-check-input" + trid);
                arr = [];
                var i = 0;
                thiselement.each(function () {
                    if (this.checked) {
                        arr[i++] = $(this).val();
                    }
                })
                if (dict.some(e => e.Id == trid)) {
                    dict = dict.filter(function (obj) {
                        return obj.Id !== trid;
                    });
                }
                dict.push({ Id: trid, Value: arr });
            });
        })

        $("#kisilerinbulunduguselect").on("select2:unselect", function (e) {
            var id = e.params.data.id;
            var element = $(".tabletablo #" + id);
            if (dict.some(e => e.Id == id)) {
                dict = dict.filter(function (obj) {
                    return obj.Id !== id;
                });
            }
            element.remove();
        })


        var ConfirmYetkiDelete = function (id) {
            $("#hiddenDosyaId").val(id);
            var did = $("#hiddenDosyaId").val();
            $.ajax({
                type: "POST",
                url: "/Paylasilanlar/YetkiKaldirma",
                data: { PaylasmaId: did},
                success: function (data) {
                    if (data.result == true) {
                        var element = $(".tabletablo #" + did);
                        element.remove();
                        $("#kisilerinbulunduguselect").append(data.html);
                    }
                }
            })
        }   

    var linkPaylas = function (id) {
        $("#hiddenDosyaId").val(id);
        var did = $("#hiddenDosyaId").val();
        var checked = 0;
        $("input[id='linkcheckbox']").click(function () {
            if ($("#linkcheckbox").prop('checked') == true) {
                checked = 1;
                $.ajax({
                    type: "POST",
                    url: "/Klasor/LinkKapat",
                    data: { DosyaId: did, Checked: checked },
                    success: function (data) {
                        if (data.result == true) {
                            $("#sharelinktext").prop('disabled', false);
                            $("#sharelinktext").val(data.link);
                            foo();
                        }
                    }
                })
            }
            else {
                checked = 2;
                $.ajax({
                    type: "POST",
                    url: "/Klasor/LinkKapat",
                    data: { DosyaId: did, Checked: checked },
                    success: function (data) {
                        if (data.result == true) {
                            $("#sharelinktext").prop('disabled', true);
                            $("#sharelinktext").val(data.link);
                            foo();
                        }
                    }
                })
            }
        })

        $.ajax({
            type: "POST",
            url: "/Klasor/LinkPaylas",
            data: { DosyaId: did},
            success: function (data) {
                if (data.result == true) {
                    $("#sharelinktext").val(data.link);
                    $("#linkpaylas").modal('show');
                }
                else if (data.result == false) {
                    linksecimhatasi();
                }
            }
        })
    }
    @*************************************************@
    @*************************************************@
    @*************************************************@
    var ShareLinkSend = function () {
        var did = $("#hiddenDosyaId").val();
        var userid = $('#linkshareusers').val();
        $.ajax({
            type: "POST",
            url: "/Klasor/SendShareMail",
            data: { DosyaId: did, UserId: userid },
            success: function (data) {
                if (data.result == true) {
                    $("#linkpaylas").modal('hide');
                    $('#linkpaylas').val(null).trigger('change');
                    location.reload();
                    foo();
                }
            }
        })
    }
    $('#linkpaylas').on('hidden.bs.modal', function (e) {
        location.reload();
    })



    $(function () {
        $("#selectable").selectable({
            stop: function () {
                var result = $("#select-result").empty();
                $(".ui-selected", this).each(function () {
                    var value = $(this).attr('id');
                    result.append("*" + value);
                });
            }
        });
    });

    var cokluindir = function () {
        var dosyaid = $("#select-result").text();
         location.href = '@Url.Action("CokluDownload","Klasor")?DosyaId=' + dosyaid;

    }

    var klasordosyaindir = function (id) {
        var dosyaid = $("#select-result").text();
        location.href = '@Url.Action("KlasorDosyaDownload","Klasor")?IDs=' + dosyaid;
    }

        var ConfirmFileShare = function (id) {
            $("#hiddenDosyaId").val(id);
            $("#dosyapaylasim").modal('show');
    }

    @*******************************************@
    @*******************************************@
    @*******************************************@
        var fileshare = function () {
            var dosyaid = $("#select-result").text();
            var strUser = $('#kisilerinbulunduguselect').val();
            var i = 0;
            var arr = [];
            $("#exampleCheck1:checked").each(function () {
                alert('here');
                $("#exampleCheck1 option:checked").attr('disabled', 'disabled')
                    .siblings().removeAttr('disabled');
                arr[i++] = $(this).val();
            })
            location.href = '@Url.Action("Share", "Dosya")?DosyaId=' + dosyaid + '&KullaniciId=' + strUser +'&Checked='+arr;
        }
    @*******************************************@
    @*******************************************@
    @*******************************************@


    var klasorIndir = function (id) {
        $("#hiddenKlasorId").val(id);
        var klasorid = $("#hiddenKlasorId").val();
        location.href = '@Url.Action("KlasorDownload","Klasor")?KlasorId=' + klasorid;
    }

    var FileCut = function () {
        var dosyaid = $("#select-result").text();
        location.href ='@Url.Action("FileCut", "Klasor")?DosyaId=' + dosyaid;
    }

    $(function () {
        $.contextMenu({
            selector: '#desktop',
            delay: 1500,
            autoHide: true,
            items: {
                "paste": {
                    name: "Yapıştır",
                    icon: "paste",
                    accesskey: "P",
                    callback: function (itemKey, opt, id) {
                        var id = $(this).closest('.card111').attr('id');
                        filePaste(id);
                    }
                },
            }
        });
    });

    var filePaste = function () {
        var DosyaId = 1;
        location.href = '@Url.Action("FilePaste","Klasor")?DosyaId=' + DosyaId;
     }

    var videoplayer = function (id) {
        $("#hiddenDosyaId").val(id);
        var kid = $("#hiddenDosyaId").val();
        $.ajax({
            type: "POST",
            url: "/Klasor/VideoPlayer",
            data: { DosyaId: kid },
            success: function (data) {
                if (data.result == true && data.dosyatipi == ".mp4") {
                    $("#videoplayer").modal("show");
                    $("#my_video_1_html5_api").attr("src", data.url);
                    $("#videoizle").attr("src", data.url);
                }
                else if (data.result == true && data.dosyatipi == ".png") {
                    $("#imageviewer").modal("show");
                    $("#resimgoruntuleyicisi").attr("src", data.url);
                }
                else if (data.result == true && data.dosyatipi == ".pdf") {
                    $("#pdfviewer").modal("show");
                    $("#pdflink").attr("href", data.url);
                    $("#pdfgoster").attr("data", data.url);
                }
                else if (data.result == true && data.dosyatipi == ".txt") {
                    $("#textviewer").modal("show");
                    $("#textviewerframe").attr("src", data.url);
                }
            }
        })
    }
    // var klasorid1 = 'ViewBag.IcindeOldugumKlasorId';

        $.contextMenu({
            selector: '.card111',
            items: {
                "paste": {
                    name: "Aç",
                    icon: "fas fa-folder-open",
                    accessKey: "G",
                    callback: function (itemKey, opt, id) {
                        var id = $(this).closest('.card111').attr('id');
                        location.href = "/Klasor/KlasorAc/" + id;
                    }
                },
                "edit": {
                    name: "Adlandır",
                    icon: "fas fa-edit",
                    accesskey: "A",
                    callback: function (itemKey, opt, id) {
                        var id = $(this).closest('.card111').attr('id');
                        ConfirmChangeName(id);
                    }
                },
                "delete": {
                    name: "Sil",
                    icon: "fas fa-trash-alt",
                    accesskey: "S",
                    callback: function (itemKey, opt, id) {
                        var id = $(this).closest('.card111').attr('id');
                        ConfirmDelete(id);
                    }
                },
                "copy": {
                    name: "Indir",
                    icon: "fas fa-download",
                    accesskey: "I",
                    callback: function (itemKey, opt, id) {
                        var id = $(this).closest('.card111').attr('id');
                        klasorIndir(id);
                    }
                },
                "kes": {
                    name: "Kes",
                    icon: "fas fa-cut",
                    accesskey: "K",
                    callback: function (itemKey, opt, id) {
                        var id = $(this).closest('.card111').attr('id');
                        FileCut(id);

                    }
                },
                "share": {
                    name: "Paylaş",
                    icon: "fas fa-share",
                    accesskey: "P",
                    callback: function (itemKey, opt, id) {
                        var id = $(this).closest('.card111').attr('id');
                        ConfirmFileShare111(id);

                    }
                },
                "link": {
                    name: "Linkle Paylaş",
                    icon: "fas fa-link",
                    accesskey: "L",
                    callback: function (itemKey, opt, id) {
                        //var id = $(this).closest('.card111').attr('id');
                        var dosyaid = $("#select-result").text();
                        linkPaylas(dosyaid);

                    }
                },

                "sep1": "---------",

            },
        });

        $.contextMenu({
            selector: '.fileContainer111',
            items: {
                "paste": {
                    name: "Indir",
                    icon: "fas fa-download",
                    accesskey: "I",
                    callback: function (itemKey, opt, id) {
                        var id = $(this).closest('.fileContainer111').attr('id');
                        dosyaIndir(id);
                    }
                },
                "cut": {
                    name: "Önizle",
                    icon: "fas fa-eye",
                    accesskey: "N",
                    callback: function (itemKey, opt, id) {
                        var id = $(this).closest('.fileContainer111').attr('id');
                        videoplayer(id);
                    }
                },
                "edit": {
                    name: "Yeniden Adlandır",
                    icon: "fas fa-edit",
                    accesskey: "A",
                    callback: function (itemKey, opt, id) {
                        var id = $(this).closest('.fileContainer111').attr('id');
                        ConfirmChangeFileName(id);
                    }
                },
                "delete": {
                    name: "Sil",
                    icon: "fas fa-trash-alt",
                    accesskey: "S",
                    callback: function (itemKey, opt, id) {
                        var id = $(this).closest('.fileContainer111').attr('id');
                        dosyaConfirmDelete(id);

                    }
                },
                "kes": {
                    name: "Kes",
                    icon: "fas fa-cut",
                    accesskey: "K",
                    callback: function (itemKey, opt, id) {
                        var id = $(this).closest('.fileContainer111').attr('id');
                        FileCut(id);

                    }
                },
                "share": {
                    name: "Paylaş",
                    icon: "fas fa-share",
                    accesskey: "P",
                    callback: function (itemKey, opt, id) {
                        var id = $(this).closest('.fileContainer111').attr('id');
                        ConfirmFileShare111(id);

                    }
                },
                "link": {
                    name: "Linkle Paylaş",
                    icon: "fas fa-link",
                    accesskey: "L",
                    callback: function (itemKey, opt, id) {
                        //var id = $(this).closest('.fileContainer111').attr('id');
                        var dosyaid = $("#select-result").text();
                        linkPaylas(dosyaid);

                    }
                },
                "sep1": "---------",

            },
    });
        function foo() {
            $.notify("Başarılı", "success");
        }
        function fooerror() {
            $.notify("Lütfen farklı bir isim deneyiniz", "error");
    }

    function linksecimhatasi() {
        $.notify("Lütfen paylaşmak istediğiniz dosyayı seçiniz", "error");
    }
    function yetkierror() {
        $.notify("Yetki secimlerinizde bir hata oluştu", "error");
    }
        function fooerror1() {
            $(".add-folder-name").notify(
                "Lütfen farklı bir isim giriniz",
                {
                    position: "right",
                    className: 'error'
                }
            );
    }
        var dosyaIndir = function (id) {
            $("#hiddenDosyaId").val(id);
            var dosyaid = $("#hiddenDosyaId").val();
            window.location = '@Url.Action("DosyaDownload","Klasor")?DosyaId=' + dosyaid;
        }

        var ConfirmChangeFileName = function (id) {
            $("#hiddenDosyaId").val(id);
            $("#dosyaIsimDegistirModal").modal('show');
        }
        var dosyaIsimDegistir = function () {
            var kid = $("#hiddenDosyaId").val();
            var yeniad = $(".dosya-yeniden-adlandir").val();
            $.ajax({
                type: "POST",
                url: "/Dosya/Edits",
                data: { DosyaId: kid, DosyaAdi: yeniad },
                success: function (result) {
                    if (result == true) {
                        $("#dosyaIsimDegistirModal").modal("hide");
                        foo();
                        $(".roll_" + kid).text(yeniad);
                    }
                    else {
                        $("#exampleModalLabel1").text("Bu dosya zaten var");
                        $("#exampleModalLabel1").removeAttr('style');
                    }
                }
            })
        }


        var ConfirmChangeName = function (id) {
            $("#hiddenKlasorId").val(id);
            $("#isimDegistirModal").modal('show');
        }
        var isimDegistir = function () {
            var kid = $("#hiddenKlasorId").val();
            var yeniad = $(".yeniden-adlandir").val();
            $.ajax({
                type: "POST",
                url: "/Klasor/Edits",
                data: { DosyaId: kid, KlasorAdi: yeniad },
                success: function (result) {
                    if (result == true) {
                        $("#isimDegistirModal").modal("hide");
                        $(".roww_" + kid).text(yeniad);
                        foo();
                    }
                    else {
                        $("#exampleModalLabel2").text("Bu dosya zaten var");
                        $("#exampleModalLabel2").removeAttr('style');
                    }
                }
            })
        }
        var ConfirmDelete = function (id) {
            $("#hiddenKlasorId").val(id);
            $("#myModal").modal('show');
        }
        var Sil = function () {
            var kid = $("#hiddenKlasorId").val();
            $.ajax({
                type: "POST",
                url: "/Klasor/Sil",
                data: { KlasorId: kid },
                success: function (result) {
                    $("#myModal").modal("hide");
                    $("#row_" + kid).remove();
                    location.reload();
                }
            })
        }
        var dosyaConfirmDelete = function (id) {
            $("#hiddenDosyaId").val(id);
            $("#myDosyaModal").modal('show');
        }
        var dosyaSil = function () {
            var kid = $("#hiddenDosyaId").val();
            $.ajax({
                type: "POST",
                url: "/Dosya/Sil",
                data: { DosyaId: kid },
                success: function (result) {
                    $("#myDosyaModal").modal("hide");
                    location.reload();
                }
            })
        }
        $(".yeni-klasor-yarat").click(function () {
            var d = new Date();
            var month = d.getMonth() + 1;
            var day = d.getDate();
            var tarih =
                (('' + month).length < 2 ? '0' : '') + month + '/' +
                (('' + day).length < 2 ? '0' : '') + day + '/' +
                d.getFullYear()
            $(".desktop-icon111").removeAttr("style");
            $(".folder-name777").text(tarih);
        })
        var yeniKlasorYaratma = function () {
            var yeniKlasorAdi = $(".add-folder-name").val();
            $.ajax({
                type: "POST",
                url: "/Klasor/Creates",
                data: { YeniKlasorAdi: yeniKlasorAdi },
                success: function (result) {
                    if (result == true) {
                        location.reload();
                    }
                    else {
                        fooerror1();
                    }

                }
            })
        }
        $(document).keyup(function (e) {
            if (e.which === 27) $(".desktop-icon111").css("display", "none");
        })
        /* DRAG AND DROP -JS- */
        var op = document.querySelector.bind(document);
        var App = {};
        App.init = function () {
            function handleFileSelect(evt) {
                var files = evt.target.files;
                var template = "".concat(Object.keys(files).map(function (file) {
                    return "<div class=\"file file--".concat(file, "\">\n     <div class=\"name\"><span>").concat(files[file].name, "</span></div>\n     <div class=\"progress active\"></div>\n     <div class=\"done\">\n\t<a href=\"\" target=\"_blank\">\n      <svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" version=\"1.1\" x=\"0px\" y=\"0px\" viewBox=\"0 0 1000 1000\">\n\t\t<g><path id=\"path\" d=\"M500,10C229.4,10,10,229.4,10,500c0,270.6,219.4,490,490,490c270.6,0,490-219.4,490-490C990,229.4,770.6,10,500,10z M500,967.7C241.7,967.7,32.3,758.3,32.3,500C32.3,241.7,241.7,32.3,500,32.3c258.3,0,467.7,209.4,467.7,467.7C967.7,758.3,758.3,967.7,500,967.7z M748.4,325L448,623.1L301.6,477.9c-4.4-4.3-11.4-4.3-15.8,0c-4.4,4.3-4.4,11.3,0,15.6l151.2,150c0.5,1.3,1.4,2.6,2.5,3.7c4.4,4.3,11.4,4.3,15.8,0l308.9-306.5c4.4-4.3,4.4-11.3,0-15.6C759.8,320.7,752.7,320.7,748.4,325z\"</g>\n\t\t</svg>\n\t\t\t\t\t\t</a>\n     </div>\n    </div>");
                }).join(""));
                op("#drop").classList.add("hidden");
                op("footer").classList.add("hasFiles");
                op(".importar").classList.add("active");
                setTimeout(function () {
                    op(".list-files").innerHTML = template;
                }, 1000);
                Object.keys(files).forEach(function (file) {
                    var load = 2000 + file * 2000;
                    setTimeout(function () {
                        op(".file--".concat(file)).querySelector(".progress").classList.remove("active");
                        op(".file--".concat(file)).querySelector(".done").classList.add("anim");
                    }, load);
                });
            }
            op("#triggerFile").addEventListener("click", function (evt) {
                evt.preventDefault();
                op("input[type=file]").click();
            });
            /*sürüklenen nesneyi dışarı çıkartınca*/
            op("#drop").ondragleave = function (evt) {
                op("#drop").classList.remove("active");
                op("#desktop").classList.remove("desktop-none");/*eklenen 20/03/2019 */
                op("#yuklemeyapilandiv").classList.add("upload-yok"); /*eklenen 20/03/2019*/
                evt.preventDefault();
            };
            /*sürükleyince*/
            op("#drop").ondragover = op("#drop").ondragenter = function (evt) {
                op("#drop").classList.add("active");
                evt.preventDefault();
            };
            /*bırakıldığında*/
            op("#drop").ondrop = function (evt) {
                op("input[type=file]").files = evt.dataTransfer.files;
                op("footer").classList.add("hasFiles");
                op("#drop").classList.remove("active");
                evt.preventDefault();
            };
            op("#desktop").ondragover = op("#desktop").ondragenter = function (evt) {
                op("#desktop").classList.add("desktop-none");
               /*eklenen kısım 20/03/2019*/ op("#yuklemeyapilandiv").classList.remove("upload-yok");
                /*eklenen kısım 20/03/2019 14.16*/op("#drop").classList.add("active");
                evt.preventDefault();
            };

            op(".importar").addEventListener("click", function () {
                op(".list-files").innerHTML = "";
                op("footer").classList.remove("hasFiles");
                op(".importar").classList.remove("active");
                setTimeout(function () {
                    $("#drop").classList.remove("hidden");
                }, 500);
            });
            op("input[type=file]").addEventListener("change", handleFileSelect);
        }();
</script>


@*// AJAX TEKLI DOSYA PAYLASIMI OPTION ID ALIYOR
    //var fileshare = function () {
    //    var kid = $("#hiddenDosyaId").val();
    //    var e = document.getElementById("kisilerinbulunduguselect");
    //    var strUser = e.options[e.selectedIndex].value;
    //    $.ajax({
    //    type: "POST",
    //        url: "/Dosya/Share",
    //        data: { DosyaId: kid, KullaniciId: strUser },
    //        success: function (result) {
    //        if (result == true) {
    //            $("#dosyapaylasim").modal('hide');
    //        }
    //        else {
    //            foo();
    //        }
    //    }
    //})
    //}*@
